@use '../util' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    background-color: var(--almost-white);
    font-family: var(--font-body);
    overflow: hidden;
}

img {
    vertical-align: middle;
}