@use '../util' as *;

.flex {
    display: flex;
}

.header {
    padding: 30px 40px;
    font-weight: 500;
}

.navbar-container {
    width: 100%;
}

.container {
    max-width: 1150px;
    margin-top: 0;
    margin-left: 15vw;
    max-height: 90vh;
}

.hero-copy {
    max-width: 530px;
    margin-top: 140px;
}
