@use '../util' as *;

.title {
    font-size: 5rem;
    font-weight: 700;
    color: var(--almost-black);
    margin-bottom: 60px;
}

.text {
    max-width: 430px;
    font-size: 18px;
    font-weight: 500;
    color: var(--medium-gray);
    line-height: 1.6;
    margin-bottom: 50px;
}
